<template name="home">
  <select class="browser-default" name="repoSelect" id="repoSelect">
    <option value="" disabled selected>Repository</option>
    {{#each repo}}
      <option value={{url}}>{{name}}</option>
    {{/each}}
  </select>

	<!-- <button class="all-issues">Issues</button> -->
  <!-- <button class="create-issue">Create</button> -->

  <form class="create-issue">
    Title:<input type="text" name="title"><br>
    Body:<input type="text" name="body"><br>
    <select class="browser-default" name="assigneeSelect" id="assigneeSelect">
      <option value="" disabled selected>Assignees</option>
      {{#each assignee}}
        <option value={{name}}>{{name}}</option>
      {{/each}}
    </select>
    Milestone:<input type="number" name="milestone"><br>
    Labels:<input type="text" name="labels"><br>

    <input class="btn waves-effect waves-light" type="submit" value="Submit">
  </form>

	<!-- <div>
		{{#markdown}}{{issues}}{{/markdown}}
  </div> -->
  <ul class="collection">
  {{#each issue}}
    <li class="collection-item">
      <i class="mdi-maps-local-offer circle"></i>
      <span class="title">{{title}}</span>
      <p>{{body}}</p>
      {{#if isOpen state}}
      <button class="issueState waves-effect waves-light btn" value={{number}}>close</button>
      {{/if}}
    </li>
  {{/each}}
  </ul>
</template>