<template name="layout">
	<nav>
    <div class="nav-wrapper blue-grey">
      <a href="/" class="brand-logo">{{title}}</a>
      <ul class="right">
        <li>{{> loginButtons}}</li>
      </ul>
      <ul class="side-nav fixed" id="slide-out">
        <li>
          <a href="{{pathFor 'home'}}"><h2>Intellit</h2></a>
        </li>
        <li class="{{#if isCurrentPage 'about'}}active{{/if}}" >
          <a href="{{pathFor 'about'}}">About</a>
        </li>
        <li>  
          <select class="browser-default" name="repoSelect" id="repoSelect">
            <option value="" disabled selected>Repository</option>
            {{#each repos}}
              <option value={{url}}>{{name}}</option>
            {{/each}}
          </select>
        </li>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse "><i class="mdi-navigation-menu"></i></a>
      
    </div>
  </nav>
  {{> yield}}

</template>
